In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib



# Introduction to SQL

By Maggie Orton and Alex Cao  

March 14, 2017  

<a href="http://cscar.research.umich.edu/" target="_blank">CSCAR</a> at The University of Michigan

Please fill out the workshop sign-in <a href="https://goo.gl/forms/kLpPDHKlwZIV5ZpD2" target="_blank">here</a>

We'll practice SQL using the W3Schools online database <a href="https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all" target="_blank">here</a>

Structured Query Language ("SQL") allows you to extract or change specific information in a relational database (i.e. a series of tables).

 MySQL, SQLite, PostgreSQL, SQL Server, etc. are all database management systems that rely on SQL. Each has its own special variety of SQL, but the general format of the queries is the same.

# SQL Queries

## Format
Series of commands followed by argument(s)

When dealing with multiple tables, identify a column name with tablename.columnname

End query with semicolon for multiple consecutive queries

## Style + Readability
Commands in all-caps

Each command set on new line

## Comments
Single-line comments:

-- begin line with two hyphens

Multi-line comments:

/\* enclose comment
in asterisk|slashes \*/

# SELECT, FROM, AS
The SELECT command specifies the desired columns 

The FROM command specifies the table from which those columns should be selected

The AS command temporarily renames a column or table with the specified name (an "alias")

An '\*' character selects all columns in a table

## Example
The 'Employees' table contains the columns:

    EmployeeID, LastName, FirstName, BirthDate, Photo, Notes

To retrieve all columns from this table, you would use the command 

    SELECT * 
    FROM Employees

To retrieve only the name-related columns from this table, you would use the command

    SELECT LastName, FirstName 
    FROM Employees

To do the above while renaming the columns as "last" and "first":

    SELECT LastName AS Last, FirstName AS First 
    FROM Employees

## Practice
1\. Retrieve the Products table

2\. Retrieve only the product names and prices from Products

3\. Retrieve the product names and prices from Products, but call them PN and Dollars

### Answers
1. SELECT * FROM Products (77)
2. SELECT ProductName, Price FROM Products (77)
3. SELECT ProductName AS 'PN', Price AS 'Dollars' FROM Products (77)

# COUNT
COUNT returns the number of non-null results in the specified column or the number of non-null rows.

## Example
To count the number of non-null rows in the Employees table:

    SELECT COUNT(*) 
    FROM Employees

## Practice
Count the number of Orders in the Orders table

### Answers
SELECT COUNT(OrderID) FROM Orders

# WHERE, AND, OR
The WHERE command retrieves rows that satisfy a given condition

Simple conditions:
- =          Equals  
- != or <>   Does not equal
- /> or <    Is greater/less than
- />= or <=  Is greater/less than or equal to

Additional conditions covered in following slides:
- a AND b
- a OR b
- BETWEEN a AND b
- IN ('a','b','c')
- LIKE 'a'

BETWEEN, IN, and LIKE can all be modified using the "NOT" keyword to retrieve rows that are not a match

## Example
Using the 'Employees' table again, suppose you want to retrieve all employee information for those born before 1960:
    
    SELECT * 
    FROM Employees 
    WHERE BirthDate < '1960-01-01'

Filtering out everyone whose last name is King:
    
    SELECT * 
    FROM Employees 
    WHERE LastName != 'King'

Applying both filters: 

    SELECT * 
    FROM Employees 
    WHERE Lastname != 'King' AND BirthDate < '1960-01-01'

Applying either filter:

    SELECT * 
    FROM Employees 
    WHERE Lastname != 'King' OR BirthDate < '1960-01-01'

## Practice
1\. Retrieve orders starting in 1997

2\. Retrieve orders starting in 1997 and with shipper IDs of at least 2

3\. Retrieve orders starting in 1997 or with shipper IDs of at least 2

### Answers
1. SELECT * FROM Orders WHERE OrderDate >= '1997-01-01'
2. SELECT * FROM Orders WHERE OrderDate >= '1997-01-01' AND ShipperID > 1
3. SELECT * FROM Orders WHERE OrderDate >= '1997-01-01' OR ShipperID > 1

# BETWEEN

The BETWEEN command gives a range of values (inclusive)

BETWEEN can be modified using the "NOT" keyword to retrieve rows that are not a match

## Example
To retrieve orders placed in January of 1997:
    
    SELECT * 
    FROM Orders 
    WHERE OrderDate 
    BETWEEN '1997-01-01' AND '1997-01-31'

## Practice
Retrieve the Product ID and Quantity from the OrderDetails table for Order IDs between 10250 and 10350 (inclusive)

### Answers
SELECT ProductID, Quantity FROM OrderDetails WHERE OrderID BETWEEN 10250 AND 10350 (269)

# IN
The IN command gives multiple possible matching values

## Example

Retrieving Employee IDs for employees not named Nancy or Andrew:

    SELECT EmployeeID FROM Employees WHERE FirstName NOT IN ('Nancy', 'Andrew')

## Practice
Return the names of customers in Mexico or the US

### Answers

# LIKE, wildcards
The LIKE command specifies a pattern to match, such as 'Nancy' or '1999'. 

Wildcards are characters that stand in for a range of possible values. 

Wildcards:
    
    %      A string of 0+ characters
    
    _      A single character
    
    [...]  A single character from the range or list in the brackets
    
    [^...] A single character not from the range or list in the brackets

Without any wildcards, LIKE will match only values equal to the exact pattern.

## Example
To match all customers with names starting with M, we use the query

    SELECT * FROM Customers 
    WHERE CustomerName Like 'M%'

To match all customers with names starting with letters after D, we can use the query

    SELECT * FROM Customers 
    WHERE CustomerName Like '[^a-d]%'

## Practice
1. Retrieve all information about customers from two- or three-letter named countries

2\. Retrieve the customer names from people whose contacts have a last name starting with S

### Answers
1. SELECT * FROM Customers WHERE Country LIKE '___' \(13)
2. SELECT CustomerName FROM Customers WHERE ContactName LIKE '% S%' (7)

# DISTINCT
The DISTINCT command retrieves only distinct combinations of the specified columns.

It is also commonly used in combination with COUNT to return the number of distinct combinations.

## Example
To retrieve a list of all CustomerIDs with orders from the Orders table:

    SELECT DISTINCT CustomerID FROM Orders

To retrieve all past combinations of employee IDs and shipper IDs:
    
    SELECT DISTINCT EmployeeID, ShipperID FROM Orders

To count the distinct combinations of employee IDs and shipper IDs:

    SELECT COUNT(DISTINCT EmployeeID, ShipperID) FROM Orders

## Practice
1. Retrieve all distinct combinations of ProductID and Quantity from the OrderDetails table

2\. Return the number of results for question 1

### Answers
1. SELECT DISTINCT ProductID, Quantity FROM OrderDetails
2. SELECT COUNT(DISTINCT ProductID, Quantity) FROM OrderDetails

# ORDER BY
ORDER BY sorts the results according to the specified columns. Default is ascending, but you can use ASC/DESC to specify the ordering.

## Example
To retrieve products ordered by price:

    SELECT ProductName, Price FROM Products ORDER BY Price DESC

## Practice
Order the customers by city and then by country, both ascending

### Answers
SELECT * FROM Customers ORDER BY City ASC, Country ASC

# TOP, LIMIT
TOP and LIMIT (syntax depends on type of database) retrieve only the first x results or percent of results; good for checking results before requesting a very large query or in combination with the ORDER BY command.

LIMIT is only supported in MySQL and Oracle databases.

## Example
To retrieve the first three rows of customers:
    
    SELECT TOP 3 * FROM Customers

To retrieve the ten most expensive products:

    SELECT TOP 10 ProductName, Price FROM Products ORDER BY Price DESC

To retrieve the top ten percent of products by price:

    SELECT TOP 10 PERCENT ProductName, Price FROM Products ORDER BY Price DESC

In MySQL or Oracle, the command would look like this:

    SELECT column(s)
    FROM table
    LIMIT number;

## Practice
1\. Return the names of the oldest 50% of employees

2\. Return the top 10 results for products sorted by supplier ID (ascending) then product name (ascending)

### Answers
1. SELECT TOP 50 PERCENT LastName, FirstName FROM Employees ORDER BY BirthDate
2. SELECT TOP 10 * FROM Products ORDER BY SupplierID ASC, ProductName DESC

# JOIN
JOIN connects two tables where the specified columns match.


INNER JOIN - all rows where specified columns match (default)

LEFT JOIN - all rows from left table and matching rows in right table

RIGHT JOIN - all rows from right table and matching rows in left table

FULL OUTER JOIN - all rows from left and right table

<img src="pcs.png"alt="Drawing" style="width: 400px;"/>
Image excerpt from <a href="http://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf" target="_blank">Pandas Cheat Sheet</a>

## Example
To retrieve all past combinations of customer names and employee IDs:

    SELECT CustomerName, EmployeeID, Orders.OrderID FROM Orders
    JOIN Customers
    ON Customers.CustomerID=Orders.CustomerID

To retrieve all past combinations of customer names and employee last names:

    SELECT CustomerName, LastName, Orders.OrderID FROM Orders
    JOIN Employees
    ON Employees.EmployeeID=Orders.EmployeeID
    JOIN Customers
    ON Customers.CustomerID=Orders.CustomerID

## Practice
Return the Products table with a column for the Supplier Name included

### Answers

# GROUP BY
GROUP BY groups the rows according to their values in the selected column and then uses an "aggregate function" to create a new column with information about each group (of rows). 

Example aggregate functions:
- COUNT()
- SUM()
- MAX()
- MIN()
- AVG()

## Example
To retrieve the total number of each product ordered:
    
    SELECT ProductID, SUM(Quantity) 
    FROM OrderDetails
    GROUP BY ProductID

## Practice
Retrieve the total number of orders in the Orders table for each Employee

### Answers
SELECT EmployeeID, COUNT(*) FROM Orders
GROUP BY EmployeeID

# HAVING
The HAVING command acts like a WHERE command for GROUP BY

## Example
To retrieve employees with more than fifteen orders in the Orders table:
    
    SELECT EmployeeID, COUNT(*) 
    FROM ORDERS
    GROUP BY EmployeeID
    HAVING COUNT(*) > 15

## Practice
Retrieve product IDs for customers with at least 100 total units ordered in OrderDetails

### Answers
SELECT ProductID, SUM(Quantity) 
FROM OrderDetails
GROUP BY ProductID
HAVING SUM(QUANTITY) >= 100

# UNION
UNION combines the results of 2+ SELECT queries.

Requirements: same number, type, and order of columns

Default is only distinct results; use UNION ALL for all results

## Example
To retrieve a combined list of all cities which have suppliers AND customers:
    SELECT City from Customers
    UNION
    SELECT City from Suppliers
    ORDER BY City

To retrieve a combined list of all cities which have suppliers OR customers:
    SELECT City from Customers
    UNION ALL
    SELECT City from Suppliers
    ORDER BY City

## Practice
Retrieve a list of countries containing both suppliers and customers.

### Answers
SELECT Country from Customers
UNION
SELECT Country from Suppliers
ORDER BY City

# Combining commands

You can combine as many commands as you like to make your queries as specific as you require. Pay careful attention to the order of the commands.

## Command order of operations
SELECT (TOP)  
FROM  
WHERE (BETWEEN | LIKE | IN)  
GROUP BY  
HAVING  
ORDER BY (ASC | DESC)  
LIMIT  
UNION (ALL)

## Practice
Retrieve a table with two columns: the customer's name, and the total number of orders made by that customer.

### Answers

# Quiz
Test your SQL knowledge here:
https://goo.gl/forms/jgPcRXjX5QzDsQqE3

# More practice
1. Return a Table with the following 3 columns: CustomerID, CustomerName, Number of Orders
Have the table sorted by Number of Orders with the most orders at the top. Only include repeat customers

2. Return a Table with the following 3 columns: ProductID, ProductName, Qty Sold
Return only the top 10 products in descending order based on quantity sold.

3. Find out who your top 5 customers are based on how much money they've spent.

# Creating a table
You can create a new table in the database and initialize it with empty columns.

## Example
    CREATE TABLE table_name (
        column1 datatype,
        column2 datatype,
        column3 datatype,
       ....
    );

## Practice

### Answers

# Primary keys
A primary key is an identifier unique to that particular record. Each table can have only one primary key.

## Example
While creating a table:

    CREATE TABLE Persons (
    ID int NOT NULL,
    LastName varchar(255) NOT NULL,
    FirstName varchar(255),
    Age int,
    PRIMARY KEY (ID)
    )

Adding to existing table:

    ALTER TABLE Persons
    ADD PRIMARY KEY (ID);

The format varies slightly here depending on the type of server.

## Practice

### Answers